@{
    ViewData["Title"] = "Home";
}

<section id="homeBannerCarousel" class="carousel slide shadow-sm rounded overflow-hidden" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#homeBannerCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Banner 1"></button>
        <button type="button" data-bs-target="#homeBannerCarousel" data-bs-slide-to="1" aria-label="Banner 2"></button>
        <button type="button" data-bs-target="#homeBannerCarousel" data-bs-slide-to="2" aria-label="Banner 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/carousel/fashion-1.svg" class="d-block w-100" alt="Spring collection banner" />
        </div>
        <div class="carousel-item">
            <img src="~/images/carousel/fashion-2.svg" class="d-block w-100" alt="New arrivals banner" />
        </div>
        <div class="carousel-item">
            <img src="~/images/carousel/fashion-3.svg" class="d-block w-100" alt="Discount offers banner" />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#homeBannerCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#homeBannerCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</section>
